*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Black";
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}

.main h1{
    font-size: 10vw;
}